{% extends "admin/base.html" %}
{% block title %}Richiesta Reset Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Reset Password</h3>
            </div>
            <div class="card-body">
                <p>Inserisci l'email associata al tuo account. Ti invieremo un link per resettare la tua password.</p>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class="form-control", required=True) }}
                    </div>
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </form>
                 <div class="text-center mt-3">
                    <a href="{{ url_for('admin.login') }}">Torna al Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
